<% layout("./layouts/boilerplate.ejs") -%>
<div class="alert alert-danger alert-dismissible fade show mt-5 col-6 offset-3" role="alert">
  <strong><%=err %></strong>
  <form action="/listings" method="get"><br>

    <button class="btn btn-primary">Back</button>
  </form>
</div>